body {
    background: rgba(248, 249, 250, 1)
    /*background: rgba(0, 123, 255, 1) - BLUE PRIMARY */
}

#titulo-simple {
    font-weight: normal;
}


.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

/*LIBROS DETAIL*/

#data-libro{
    margin-left: -5vw;
}

#author{
    font-size: 18px;
}

