body {
    background: rgba(248, 249, 250, 1)
    /*background: rgba(0, 123, 255, 1) - BLUE PRIMARY */
}

/* LINKS DE REDIRECCION A ESCRITOS, PERFILES, ETC */
    /* CONTENIDO-1: LINK EN NEGRO, SIN SUBRAYADO, AZUL CON HOVER */
    a:link.links-contenido-1 {
            text-decoration: none;
            color: black;
            
        }

    a:visited.links-contenido-1 {
            text-decoration: none;
            color: black;
        }

    a:hover.links-contenido-1 {
            text-decoration: none;
            color: rgb(0, 86, 179);
        }

    a:active.links-contenido-1 {
            text-decoration: none;
        }

    /* CONTENIDO-2: LINK EN AZUL, SIN SUBRAYADO */
    a:hover.links-contenido-2 {
        text-decoration: none;
    }

#titulo-simple {
    font-weight: normal;
}


.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

/*LIBROS DETAIL*/

#links-libros{
    position:absolute;
    bottom: 1rem;
    width: 100%;
} /*deja los botones al fondo*/

#img-libro #img-user{
    height: auto;
    width: auto;
}

#libro-card{
    /*margin-right: -1rem;*/
    max-height: 535px;
}

#user-card{
    border-top-left-radius: 75pt 75pt;
    border-bottom-left-radius: 75pt 75pt;
    border-top-right-radius: 0pt 0pt;
    border-bottom-right-radius: 0pt 0pt;

    min-height: 200px;
    max-height: 535px;
}

#author{
    font-size: 18px;
}

#btn-amazon{
    background-color: rgb(35, 47, 62);
    color: white;
}

#btn-tematika{
    background-color: rgb(0, 73, 131);
    color: white;
}

#btn-buscalibre{
    background-color: rgb(255, 111, 0);
    color: white;
}

#btn-ml{
    background-color: rgb(255, 230, 0);
    color: rgb(45, 50, 119);
}

#data-libro #data-user{
    margin-left: 0rem;
}

#img-wrapper{
    display: inline-block;  /*change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
}



