{% extends 'base_layout.html' %}        
        
{% block content1 %}
    
    <head>
        <title>Leelo - Crear escrito</title>
    </head>

    <div class="row">
        <div class="col-md-10 m-3 p-3">
            <h1>Crea un nuevo Escrito</h1>
            <hr align="left" class="w-50">
            
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{form.media}}
                <p>Recuerda leer las <a href="/home/placeholder">reglas de la comunidad</a> antes de publicar contenido.</p>
                
                <p>{{form.title}}</p>

                <p>{{form.body}}</p>
                
                <div style="text-align:left">
                    <!--<button type="submit" class="save btn btn-primary" href="/home/home_page">Guardar Borrador</button>-->
                    <button type="submit" class="save btn btn-success btn-lg">Terminar</button>
                </div>
            </form>
        </div>
    </div>
        
{% endblock %}