{% extends 'base_layout.html' %}        
        
{% block content1 %}

    <head>
        <h1>Crea un nuevo Escrito</h1>
    </head>

    <form method="POST" class"post-form">
        {% csrf_token %}
        {{form.media}}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Terminar</button>
    </form>
<!--<form method="POST">
        {% csrf_token %}
        {{form.media}}        
        {{form.as_p}}
        <button class="btn btn-primary">Terminar</button>
    </form>-->
        
{% endblock %}