{% extends 'base_layout.html' %} {% load static %} {% block content1 %}

<head>
  <h1>{{escrito.title}}</h1>
</head>

<small>{{ escrito.author}} </small>

<br />

<div class="body">
{{ escrito.body|safe }}
</div>

{% if escrito.date %}
    <div class="date">
        {{ escrito.date }}
    </div>
{% else %}
    (borrador)
    <a class="btn btn-default" href="{% url 'escrito_publish' pk=escrito.pk %}">Publish</a>
{% endif %}

<br>

{% if user_logged == escrito.author %}
<a class="btn btn-default" href="{% url 'edit_escrito' pk=escrito.pk %}">Editar</a>

<a class="btn btn-default" href="{% url 'escrito_remove' pk=escrito.pk %}">Eliminar Escrito</a>
{% endif %}

<!--Esta es la tarjeta que muestra el perfil del autor-->

<div class="card mb-3" style="max-width: 540px">
  <div class="row no-gutters">
    <div class="col-md-4">
    {% if escrito.author.profile.profile_pic %}
        <img src="{{MEDIA_URL}}{{escrito.author.profile.profile_pic.url}}" class = "card-img"/>
    {%else%}
      <img src="https://picsum.photos/200/"class = "card-img"/>
    {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{escrito.author}}</h5>
        <p class="card-text">{{escrito.author.profile.bio}}</p>
        <p class="card-text">
          <a
            href="{%url 'show_profile_page' escrito.author.profile.id %}"
            class="text-muted"
            >ir al perfil</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-primary" href="/home/homepage"> Inicio </a> 
{% endblock %}
