{% extends 'base_layout.html' %}
{% load static %}
{% block content1 %}

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stars.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    </head>

    <body>

    <div class="container-fluid text-center">
        <div class="shadow bg-white col-md-12 mt-3 p-3">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{escrito.title}}</h1>
                    <hr class="w-75">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    por <b>@<a class="links-contenido-1" href="{% url 'show_profile_page' pk=escrito.author.pk %}">{{escrito.author}}</a></b>
                </div>
                <div class="col-md-6 text-center">
                    {% if escrito.date %}
                        <div class="date">
                            {{ escrito.date }}
                        </div>
                    {% else %}
                        PLACEHOLDER
                    {% endif %}
                </div>
            </div>
            <hr class="w-75">
            <div class="row">
                <div class="col-md-12">
                    {{ escrito.body|safe }}
                </div>
            </div>

            <!--BOTONES PUBLICAR, EDITAR, ELIMINAR-->
            
            <hr class="w-75">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        {% if user_logged == escrito.author %}
                            {% if escrito.date %}
                                <div class="col-md-6">
                                    <a class="btn btn-primary btn-block" href="{% url 'edit_escrito' pk=escrito.pk %}">Editar</a>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-danger btn-block" href="{% url 'escrito_remove' pk=escrito.pk %}">Eliminar</a>
                                </div>
                            {%else%}
                                <div class="col-md-4">
                                    <a class="btn btn-success btn-block" href="{% url 'escrito_publish' pk=escrito.pk %}">Publicar</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-primary btn-block" href="{% url 'edit_escrito' pk=escrito.pk %}">Editar</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block" href="{% url 'escrito_remove' pk=escrito.pk %}">Eliminar</a>
                                </div>
                            {%endif%}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3 text-right">

                    <form action="{% url 'escrito_like' escrito.pk %}" method="POST">
                        {% csrf_token %}
                            {% if user.is_authenticated %}
                                {% if liked %}
                                    <button type="submit", name="post_id", value="{{ escrito.id }}", class="btn btn-danger">No me gusta</button> 
                                {% else %}
                                    <button type="submit", name="post_id", value="{{ escrito.id }}", class="btn btn-primary">Me gusta</button> 
                                {% endif %}
                            {% else %}
                                <small>Debes estar logueado para dar Me gusta</small>
                        {% endif %}
                        <a href="#" id="boton-mg" class="btn btn-transparent" tabindex="-1" role="button" aria-disabled="true">{{ total_likes }} Me gusta</a>
                        <!--- {{ total_likes }} Me gusta -->
                    </form>
                </div>
            </div>
            {% endif %}
        </div>

        <!--CARD DEL AUTOR-->
        <div id="user-card" class="card shadow bg-white border-0 mt-3">
            <div class="row no-gutters">
                <div id="img-wrapper" class="col-md-auto">
                    <!--col-md-3-->
                    {% if escrito.author.profile.profile_pic %}
                        <img id="img-user" src={{MEDIA_URL}}{{escrito.author.profile.profile_pic.url}} class="card-img rounded-pill" />
                    {%else%}
                        <img id="img-user" src="https://picsum.photos/200/200" class="card-img rounded-pill" />
                    {% endif %}
                </div>
                <div id="data-user" class="col text-justify">
                    <!--col-md-9-->
                    <div class="card-body">
                        <h2 class="card-title"><b>@<a class="links-contenido-1"
                                    href="{% url 'show_profile_page' pk=escrito.author.pk %}">{{escrito.author}}</a></b></h2>
                        <hr>
                        <p class="card-text"><i>{{escrito.author.profile.bio}}</i></p>
                    </div>
                </div>
            </div>
        </div>

        <!--COMENTARIOS-->
        <div class="shadow bg-white col-md-12 mt-3 p-3">
            <h3>Comentarios</h3>
            <hr class="w-75">
            
            <!--CAJA DE COMENTARIOS-->
            {% if not haycomments %} <!--SI NO HAY COMENTARIOS-->
                Aún no hay comentarios sobre este escrito. ¡Sé el primero!
                <hr class="w-75">
            {% endif %}

            <form method="POST" class="comment-form">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit", name="post_id", value="{{ escrito.id }}", class="save btn-primary btn-default">Comentar</button>
            </form>

            <!--LISTA DE COMENTARIOS-->
            <hr class="w-75">
            {% if haycomments %} <!--SI HAY COMENTARIOS-->
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-left p-3">
                        {% for comment in comments %}
                            <b>@<a class="links-contenido-1" href="{% url 'show_profile_page' pk=comment.usuario.pk %}">{{comment.usuario}}</a></b> - {{ comment.date }}
                            
                            {{ comment.body|safe }} 
                            <hr>
                            <div class="row text-right">
                                {% if comment.usuario == request.user %}
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <a href="/comentarios/comment/{{ comment.id }}/delete/" class="btn btn-block btn-outline-secondary btn-sm"
                                            onClick="return confirm('¿Esta seguro que desea eliminar el comentario?');">
                                            <strong>Eliminar comentario</strong>
                                        </a>
                                    </div>
                                {% else %}
                                    {% if user.is_authenticated %}
                                        {% if not comment in comments_denunciados %}
                                            <div class="col-md-8"></div>
                                            <div class="col-md-4">
                                                <a href="/comentarios/comment/{{ comment.id }}/denuncia/" class="btn btn-block btn-outline-secondary btn-sm"
                                                onClick="return confirm('¿Desea denunciar el comentario?');">
                                                <strong>Denunciar comentario</strong>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <hr>            
                        {% endfor %}
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <hr class="w-75">
            {% endif %}
            
        </div>
    </div>
        
    <!--FUNCIONES NICO-->
    <script type="text/javascript">
        var time = {{ tiempo }};
        window.onload = function () {
            
            setTimeout('ctrlTiempo()', time); 
            
            //Si el usuario mueve el ratón cambiamos la variable a 0.
            //$(this).mousemove(function (e) {
            //    contadorAfk = 0;
            //});
            //Si el usuario presiona alguna tecla cambiamos la variable a 0.
            //$(this).keypress(function (e) {
            //    contadorAfk = 0;
            //});
        };

    function ctrlTiempo() {
        var csrftoken = "{{ csrf_token }}";
        var pk = "{{ escrito.pk }}";
        $.post({
            headers: {"X-CSRFToken": csrftoken},
            url: "/escritos/escrito_leido/",
            data: { pk: pk },
        })
        .done(function( datos ) {
            datos.url;
            location.reload();
        })
        //.fail(function( jqXHR, textStatus ) {
        //    alert('Oops!!', 'Encontramos un problema: ' + jqXHR + ' estado: ' + textStatus, 'danger');
        //});
    //alert('Hola profes! Detectamos el tiempo que se necesita para leer este escrito.');
    };
    </script> 
{% endblock %}




