{% extends 'base_layout.html' %} {% load static %} {% block content1 %}

<head>
  <h1>{{escrito.title}}</h1>
</head>

<small>{{ escrito.author}} </small>

<br />

<div class="body">
{{ escrito.body|safe }}
</div>

{% if escrito.date %}
    <div class="date">
        {{ escrito.date }}
    </div>
{% else %}
    (borrador)
    <a class="btn btn-default" href="{% url 'escrito_publish' pk=escrito.pk %}">Publish</a>
{% endif %}

<br>

{% if user_logged == escrito.author %}
<a class="btn btn-default" href="{% url 'edit_escrito' pk=escrito.pk %}">Editar</a>

<a class="btn btn-default" href="{% url 'escrito_remove' pk=escrito.pk %}">Eliminar Escrito</a>
{% endif %}

<!--Esta es la tarjeta que muestra el perfil del autor-->

<div class="card mb-3" style="max-width: 540px">
  <div class="row no-gutters">
    <div class="col-md-4">
    {% if escrito.author.profile.profile_pic %}
        <img src="{{MEDIA_URL}}{{escrito.author.profile.profile_pic.url}}" class = "card-img"/>
    {%else%}
      <img src="https://picsum.photos/200/"class = "card-img"/>
    {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{escrito.author}}</h5>
        <p class="card-text">{{escrito.author.profile.bio}}</p>
        <p class="card-text">
          <a
            href="{%url 'show_profile_page' escrito.author.profile.id %}"
            class="text-muted"
            >ir al perfil</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<br/><br/>
<form action="{% url 'escrito_like' escrito.pk %}" method="POST">
{% csrf_token %}
{% if user.is_authenticated %}
  {% if liked %}
    <button type="submit", name="post_id", value="{{ escrito.id }}", class="btn-danger btn-sm">No me gusta</button> 
  {% else %}
    <button type="submit", name="post_id", value="{{ escrito.id }}", class="btn-primary btn-sm">Me gusta</button> 
  {% endif %}
{% else %}
  <small>Debes estar logueado para dar Me gusta</small>
{% endif %}
  - {{ total_likes }} Me gusta 
</form>
<br/>
<br/>
<h3>Comentarios..</h3>
<br/>
{% if not escrito.comments.all %}
  Aún no hay comentarios en sobre este Escrito.
{% else %}
  {% for comment in escrito.comments.all %}
    <strong> {{ comment.usuario }} - {{ comment.date }} </strong>
    <br/>
    {{ comment.body|safe }} 
    {% if comment.usuario == request.user %}
      -
      <a href="/escritos/comment/{{ comment.id }}/delete/" class="btn btn-default"
      onClick="return confirm('¿Esta seguro que desea eliminar el comentario?');">
      <strong>Eliminar comentario</strong>
      </a>
    {% else %}
      {% if user.is_authenticated %}
        {% if comment.denuncias.filter(comment.ususario) %}
          -
          <a href="/escritos/comment/{{ comment.id }}/denuncia/" class="btn btn-default"
          onClick="return confirm('¿Desea denunciar el comentario?');">
          <strong>Denunciar comentario</strong>
          </a>
        {% endif %}
      {% endif %}
    {% endif %}
    <br/><br/>
  {% endfor %}
{% endif %}
<br/><br/>

<br/>

<form method="POST" class"comment-form">
  {% csrf_token %}
  <!--{{ form.media }}-->
  {{ form.as_p }}
  <button type="submit", name="post_id", value="{{ escrito.id }}", class="save btn-primary btn-default">Comentar</button>
</form>

<br/>

<a class="btn btn-primary" href="/home/homepage"> Inicio </a> 
{% endblock %}


