{% extends 'base_layout.html' %}
{% block content1 %}

    <form method="get" action="/search/?q="> 
        {% if query %}
            <br>
            <h4>Resultados:</h4>

            {% for result in page.object_list %}
                <hr>
                <b><a class="links-contenido-2" href= "{% url 'escrito_detail' result.pk %}"> {{result.title}} </a></b>
                <div>por<a class="links-contenido-1" href= ""> @{{result.author}} </a>- {{result.date}} </div>
                <hr>
                <ul>
                    
                    {{result.body|safe|truncatewords:100}}    
                    
                </ul>
            {% empty %}
                <p>No se encontraron escritos.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}