{% load static %}
<!doctype html>
<html lang="es">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main5.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar2.css' %}">
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar2.css' %}">-->
    </head>

    <body>
    
    <form method="get" action="/search/?q=">
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white border-bottom">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#" style="background: url('https://i.imgur.com/5M7XE83.png') center center no-repeat; background-size: 80% 90%; height: 6.5vh; width: 12vw; margin-left: -1vw;"></a>

        <!-- Collapsible content -->
        &nbsp;&nbsp;
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline ml-auto">    
                <div class="md-form my-0">
                    <input class="form-control" type="text" id="buscador" name="q" placeholder="Buscar escritos" aria-label="Search">
                </div>
            &nbsp; &nbsp;
            <button href="#!" class="btn btn-outline-primary btn-md my-0 ml-sm-2" type="submit">Buscar</button>
            </form>
        </div>
        <!-- Collapsible content -->

        </nav>
        <!--/.Navbar--> 
    </form>

    <div id="wrapper">

        <!-- Left Sidebar -->
        <div id="left-sidebar-wrapper">
            <ul class="sidebar-nav">
                <!--<li class="sidebar-brand">
                    <a href="#">
                        Left Sidebar
                    </a>
                </li>-->
                <li>
                    <a href="{%url 'homepage' %}" class="list-group-item list-group-item-action"
                        >Home
                    </a>
                </li>
                <li>
                    <a href="{%url 'add_escrito' %}" class="list-group-item list-group-item-action bg-primary text-white"
                        >Crear Escrito
                    </a>
                </li>
                <li>
                    <a href="{%url 'show_profile_page' user.profile.id %}" class="list-group-item list-group-item-action"
                        >Perfil
                    </a>
                </li>
                <li>
                    <a href="{%url 'show_books'  %}" class="list-group-item list-group-item-action"
                        >Libros
                    </a>
                </li>
                <li>
                    <a href="#" class="list-group-item list-group-item-action"
                        >Grupos
                    </a>
                </li>
                <li>
                    {% for group in request.user.groups.all %}
                        {% if group.name == 'Admins' %}
                            <a href="{% url 'mostrar_denuncias'  %}" class="list-group-item list-group-item-action"
                            >Administrar Denuncias
                            </a>
                        {% endif %}
                    {% endfor %}
                </li>
                <li>
                    <a href="/usuario/logout_user" class="list-group-item list-group-item-action"
                        >Cerrar Sesion
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#left-sidebar-wrapper -->

        <!-- Right Sidebar -->
        <div id="right-sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Right Sidebar</a>
                </li>

                <li>
                    <a data-toggle="collapse" href="#recent-search" aria-expanded="false">Recent Search <span class="caret"></span></a>
                    <div class="collapse in sub-bar" id="recent-search">
                        <a href="#">Keyword 1</a>
                        <a href="#">Keyword 2</a>
                        <a href="#">Keyword 3</a>
                        <a href="#">Keyword 4</a>
                    </div>
                </li>
        </div>
        <!-- /#right-sidebar-wrapper -->

        <!-- Toggle Buttons -->
        <a href="#left-menu-toggle" class="btn btn-link btn-md" id="left-menu-toggle"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#right-menu-toggle" class="btn btn-link btn-md" id="right-menu-toggle"><span class="glyphicon glyphicon-chevron-right"></span></a>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content1 %}
                        {% endblock %} 
                    </div> 
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>



<!--

    <div class="d-flex" id="wrapper">
        <div class="bg-white border-right" id="sidebar-wrapper">
            <div class="sidebar-heading" style="background: url('https://i.imgur.com/5M7XE83.png') center center no-repeat; background-size: 70% 80%; height: 8vh;"></div>
            <div class="list-group list-group-flush">
            <a href="{%url 'homepage' %}" class="list-group-item list-group-item-action"
                >Home
            </a>
            <a href="{%url 'add_escrito' %}" class="list-group-item list-group-item-action bg-primary text-white"
                >Crear Escrito
            </a>
            <a href="{%url 'show_profile_page' user.profile.id %}" class="list-group-item list-group-item-action"
                >Perfil
            </a>
            <a href="{%url 'show_books'  %}" class="list-group-item list-group-item-action"
                >Libros
            </a>
            <a href="#" class="list-group-item list-group-item-action"
                >Grupos
            </a>
            {% for group in request.user.groups.all %}
                {% if group.name == 'Admins' %}
                    <a href="{% url 'mostrar_denuncias'  %}" class="list-group-item list-group-item-action"
                    >Administrar Denuncias
                    </a>
                {% endif %}
            {% endfor %}
            <a href="/usuario/logout_user" class="list-group-item list-group-item-action"
                >Cerrar Sesion
            </a>
            </div>
        </div>

        <div id="page-content-wrapper bg-light">
            <div id="container-fluid-profile" class="container-fluid">
                {% block content2 %}
                {% endblock %}  
            </div>
        </div>
-->

    </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>