{% load static %}
<!doctype html>
<html lang="es">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main3.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar2.css' %}">
    </head>

    <body>
    
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white border-right" id="sidebar-wrapper">
            <div class="sidebar-heading" style="background: url('https://i.imgur.com/5M7XE83.png') center center no-repeat; background-size: 70% 80%; height: 8vh;"></div>
            <div class="list-group list-group-flush">
            <a href="{%url 'homepage' %}" class="list-group-item list-group-item-action"
                >Home
            </a>
            <a href="{%url 'add_escrito' %}" class="list-group-item list-group-item-action bg-primary text-white"
                >Crear Escrito
            </a>
            <a href="{%url 'show_profile_page' user.profile.id %}" class="list-group-item list-group-item-action"
                >Perfil
            </a>
            <a href="{%url 'show_books'  %}" class="list-group-item list-group-item-action"
                >Libros
            </a>
            <a href="#" class="list-group-item list-group-item-action"
                >Grupos
            </a>
            <a href="/usuario/logout_user" class="list-group-item list-group-item-action"
                >Cerrar Sesion
            </a>
            </div>
        </div>

        <div id="page-content-wrapper bg-light">
            <div id="container-fluid-profile" class="container-fluid">
                {% block content1 %}
                {% endblock %}  
                <!--<div class="container">-->

                <!-- </div>-->
            </div>
        </div>
    </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>