{% extends 'base_mini.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content_center %}
    <head>
        <title>Leelo - Editar perfil </title>
    </head>
    <p></p> 
    <div class="container">
        <hr>
        <h3 id="titulo-simple">Editar Perfil</h3>
        <hr>

        <div class ="form-group">
            <form method = "POST"?>
                {% csrf_token %}

                <div class="form-group">
                    <label for="bio">{{form.bio.label|safe}}</label>
                    <textarea class="form-control" rows="3">{{form.bio|safe}}</textarea>
                </div>

                <p>{{form.profile_pic.label}}:</p>
                <p>{{form.profile_pic}}</p>

                <hr>
                <button class="btn btn-primary"> Guardar Cambios </button>
                <a class="btn btn-danger" href="{%url 'show_profile_page' user.profile.id %}">Cancelar</a> 
                <hr>
            </form>
        </div>
    </div>
    
{% endblock %}