{% extends 'base_layout.html' %}
{% load static %}

{% block content1 %}
    <head>
        <title>Leelo - Verificación de Correo</title>
    </head>

    <body>
        <h1>Verificación de correo electrónico</h1>

        <p>¡Tu correo electrónico ya ha sido verificado!</p>

        <!--
        <form method="get">
        <input type="submit" class="inline" href="http://127.0.0.1:8000//home/homepage" value="Ir al Inicio">
        </form>
        -->
        <p>Ahora podés ingresar con tu nuevo usuario</p>
        
        <a class="btn btn-primary" href="/usuario/login"> ¡Ingresá! </a> 

    </body>
{% endblock %}