<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootstrap Double Sidebar</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Left Sidebar -->
        <div id="left-sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Left Sidebar
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#dashboard" aria-expanded="false">Dashboard <span class="caret"></span></a>
                    <div class="collapse sub-bar" id="dashboard">
                        <a href="#">Dashboard Sub 1</a>
                        <a data-toggle="collapse" href="#dashboard-sub-2" aria-expanded="false">Dashboard Sub 2 <span class="caret"></span></a>
                        <div class="collapse sub-bar" id="dashboard-sub-2">
                            <a href="#">Dashboard Sub Sub 1</a>
                            <a data-toggle="collapse" href="#dashboard-sub-sub-2" aria-expanded="false">Dashboard Sub Sub 2 <span class="caret"></span></a>
                            <div class="collapse sub-bar" id="dashboard-sub-sub-2">
                                <a href="#">Dashboard Sub Sub Sub 1</a>
                                <a href="#">Dashboard Sub Sub Sub 2</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#shortcuts" aria-expanded="false">Shortcuts <span class="caret"></span></a>
                    <div class="collapse sub-bar" id="shortcuts"> 
                        <a data-toggle="collapse" href="#shortcuts-sub-1" aria-expanded="false">Shortcuts Sub 1 <span class="caret"></span></a>
                        <div class="collapse sub-bar" id="shortcuts-sub-1">
                            <a href="#">Shortcuts Sub Sub 1</a>
                            <a href="#">Shortcuts Sub Sub 2</a>
                        </div>
                        <a href="#">Shortcuts Sub 2</a>
                    </div>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#left-sidebar-wrapper -->

        <!-- Right Sidebar -->
        <div id="right-sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Right Sidebar</a>
                </li>

                <li>
                    <a data-toggle="collapse" href="#recent-search" aria-expanded="false">Recent Search <span class="caret"></span></a>
                    <div class="collapse in sub-bar" id="recent-search">
                        <a href="#">Keyword 1</a>
                        <a href="#">Keyword 2</a>
                        <a href="#">Keyword 3</a>
                        <a href="#">Keyword 4</a>
                    </div>
                </li>
        </div>
        <!-- /#right-sidebar-wrapper -->

        <!-- Toggle Buttons -->
        <a href="#left-menu-toggle" class="btn btn-link btn-md" id="left-menu-toggle"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#right-menu-toggle" class="btn btn-link btn-md" id="right-menu-toggle"><span class="glyphicon glyphicon-chevron-right"></span></a>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bootstrap Double Sidebar</h1>
			<br />
                        <p>This template has responsive menus toggling system on both sides. Both the menus will appear collapsed on smaller screens, and will appear non-collapsed on larger screens.</p>
			<p>The menus can be toggled manually with the <span class="glyphicon glyphicon-chevron-left"></span> and <span class="glyphicon glyphicon-chevron-right"></span> buttons positioned at bottom corners of each sides. When toggled using the buttons, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
			<p>The menu can have as many sub-menu as possible, as shown in this demo page. This is achieved using Bootstrap's Collapse.</p>
                        <p>This project is forked from <a href="http://startbootstrap.com/template-overviews/simple-sidebar/" target="_blank">Simple Sidebar of Start Bootstrap.</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#left-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("left-toggled");
    });

    $("#right-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("right-toggled");
    });
    </script>

</body>

</html>
