{% extends 'base_mini.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content_center %}
    <head>
        <title>Leelo - Inicio de Sesión </title>
    </head>
    <hr>
    <h3>Ingresa tus datos</h3>
    <hr>
        <form method="POST" action="">

            {% csrf_token %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {% for field in form %}
                        <!--{{field.label}}-->
                        {{field}}
                        <p></p>
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="text-center">
                <div class="g-recaptcha" data-sitekey="6Ldx7ccZAAAAABRWw1IUUycfMY2hrHhH38KutCtP" style="text-align:center"></div>
            </div>
            <p></p>
            <input type= "submit" class="btn btn-primary btn-lg font-weight-bold" name= "create_user" value= "Crear cuenta">
        </form>

        <p></p>
        <hr>
        
        <!-- Inicio de sesion con API de Google Gmail -->
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-outline-secondary" href="{% provider_login_url "google" %}" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                Registrarse con Google
                </a>
            </div>
        </div>
                
        <!--<a href="{% provider_login_url "google" %}"> O registrate con Google </a> -->
        <p></p>

            {{form.errors}}

        <p></p>
        <hr>
        <a href="/usuario/login"> ¿Ya tienes cuenta? Ingresa aquí.</a>
        <p></p>
        <hr>


        <!--Ciclo que muestra cada mensaje de error/advertencia-->

        <p></p>
            {% if messages %}
            <p class="messages">
                {% for message in messages %}
                <div class="p-3 mb-2 bg-danger text-white" style="text-align:center" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
                {% endfor %}
            </p>
            {% endif %}
        <p></p>

    </body>

    <!--reCaptcha API-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}

