{% extends 'base_mini.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content_center %}
    <head>
        <title>Leelo - Reestablecer contraseña</title>
    </head>
    <p></p>
    <div class="jumbotron" style="background: url('https://i.imgur.com/5M7XE83.png') center center no-repeat; background-size: 60% 90%; height: 16vh;"></div>  
    <body>
        <hr>
        <h3>¡Se cambió tu contraseña!</h3>
        <hr>
        <p>Tu contraseña se ha cambiado correctamente, tal vez quieras intentar <a href="/usuario/login">iniciar sesión</a> ahora.</p>
    </body>
{% endblock %}