{% extends 'base_mini.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content_center %}
    <head>
        <title>Leelo - Reestablecer contraseña</title>
    </head>
    <p></p>
    <div class="jumbotron" style="background: url('https://i.imgur.com/5M7XE83.png') center center no-repeat; background-size: 60% 90%; height: 16vh;"></div>  
    <body>
        <hr>
        <h3>¡Se ha enviado el correo!</h3>
        <hr>
        <p>Te hemos enviado un correo electrónico a tu dirección de correo con instrucciones para <b>reestablecer tu contraseña</b>. Deberías recibirlo en breve.</p>

        <p>Si no lo encuentras, asegúrate que has escrito bien la dirección o búscalo en la sección de "correo no deseado".</p>
    </body>
{% endblock %}