{% extends 'base_mini.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content_center %}
    <head>
        <title>Leelo - Escritores sugeridos</title>
    </head>
    <p></p>
    <div class="jumbotron" style="background: url('https://i.imgur.com/5M7XE83.png') center center no-repeat; background-size: 60% 90%; height: 16vh; margin-left: 100px;">TESTTTEKUSEAHTYUETW</div>  
    <hr>
    <h3><b>Escritores sugeridos</b></h3>
    <hr>

    <body>
        <!-- PROFILES viene de " context_object_name = 'profiles' "
        en ProfileListView en usuario_views.py -->
        <p>Aquí puedes ver perfiles de usuarios que tienen intereses similares a los tuyos.</p>
        <p>¡No dejes de leer sus Escritos!</p>
        <hr class="w-50">
        {% for profile in profiles %} 
            <div class="ui segment">
                {{profile}}
                <br>
                <a href={% url 'show_profile_page' profile.pk %}
                    <button class="btn btn-primary">Ver perfil</button>
                </a>
                <hr class="w-50">
            </div>
        {% endfor %}
        <p>Ya no hay usuarios con intereses similares a los tuyos :(</p>
        <p>¡Prueba variando las categorías seleccionadas!</p>
        <hr>
    </body>
{% endblock %}