{% extends 'base_layout.html' %}        
        
{% block content1 %}

<h1>PERFIL DE USUARIO!</h1>

{{ user_profile }}
</br></br>
{{ user_profile.bio }}
</br></br>
{{ user_profile.user.email }}
</br></br>

{% if user.is_authenticated %}
    {% if follow %}
        <form action="{% url 'follow_unfollow_profile' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="profile_pk" value={{object.pk}}>
            <button type="submit" class="btn btn-danger">Dejar de seguir</button>
        </form>
    {% else %}
        <!--IF no muestra el "Seguir" en perfiles ajenos-->
        {% if my_profile != user_profile %} 
            <form action="{% url 'follow_unfollow_profile' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{object.pk}}>
                <button type="submit" id="follow-btn" class="btn btn-success">Seguir</button>
            </form>
        {% endif %}
    {% endif %}

    <!--EDITAR PERFIL-->
    <!--IF no muestra el "Editar Perfil" en perfiles ajenos-->
    {% if my_profile == user_profile %}
        <a class="btn btn-primary" href="/usuario/edit_profile"> Editar Mi Perfil </a> 
    {% endif %}
{% endif %}

<a class="btn btn-primary" href="/home/homepage"> Inicio </a> 

{% endblock %}