{% extends 'base_layout.html' %}        
        
{% block content1 %}

<h1>PERFIL DE USUARIO!</h1>

{{ page_user }}
</br></br>
{{ page_user.bio }}
</br></br>
{{ page_user.user.email }}
</br></br>


<!--
<button type="submit" class="btn btn-danger">Dejar de seguir</button>
<button id="follow-btn" class="btn btn-success">Seguir</button>
-->
{% if user.is_authenticated %}
    {% if follow %}
        <form action="{% url 'follow_unfollow_profile' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="profile_pk" value={{object.pk}}>
            <button type="submit" class="btn btn-danger">Dejar de seguir</button>
        </form>
    {% else %}
        <form action="{% url 'follow_unfollow_profile' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="profile_pk" value={{object.pk}}>
            <button type="submit" id="follow-btn" class="btn btn-success">Seguir</button>
        </form>
    {% endif %}
    <!--falta que no se visualice el editar perfil en otros usuarios-->
    <a class="btn btn-primary" href="/usuario/edit_profile"> Editar Mi Perfil </a> 
{% endif %}

<a class="btn btn-primary" href="/home/homepage"> Inicio </a> 

{% endblock %}