{% extends 'base_layout.html' %} {% block content1 %}

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Leelo</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Home
      </a>
      <a
        href="{%url 'add_escrito' %}"
        class="list-group-item list-group-item-action bg-light"
        >Crear Escrito
      </a>
      <a
        href="{%url 'show_profile_page' user.profile.id %}"
        class="list-group-item list-group-item-action bg-light"
        >Perfil
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Grupos
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Libros
      </a>
      <a href="/usuario/logout_user" class="list-group-item list-group-item-action bg-light"
        >Cerrar Sesion
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <head>
        <title>Leelo - Inicio</title>
      </head>

      <h1>Bienvenido a Leelo!</h1>

      <p>
        Empieza siguiendo a otos usuarios haciendo click <a href= "/usuario/suggested_users"> aqui </a>
      </p>
      <br>

      {% for escrito in escritos %}
        <ul>
            <hr>
            <b><a href="{%url 'escrito_detail' pk=escrito.pk %}"> {{escrito.title}} </a></b>
            <div>por <a href="{%url 'show_profile_page' escrito.author.profile.id %}"> {{escrito.author}} </a>- {{escrito.date}} </div>
            <hr>
            <ul>
              {{escrito.body|safe|truncatewords:100  }}    
              <br>
            </ul>
        </ul>  
      {% endfor %}
      <br>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

{% endblock %}
