{% extends 'base_layout.html' %}        
{% load static %}       
{% block content1 %}

    <head>
        <h1>{{escrito.title}}</h1>
    </head>

    <small>{{ escrito.author}} </small><br/>
    <hr>
    <br/>
    {{ escrito.body }}

    <br/><br/>

    <!--<img scr="{{escrito.author.profile.profile_pic.url}}" width=100px height=100px class="rounded-circle">-->
  
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src=""{{escrito.author.profile.profile_pic.url}}"" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{escrito.author}}</h5>
            <p class="card-text"{{escrito.author.profile.bio}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
    </div>
    </div>    

{% endblock %}