{% extends 'base_layout.html' %}
{% load socialaccount%}
{% providers_media_js %}
                
{% block content1 %}
    <head>
        <title>Leelo - Inicio de Sesión </title>
    </head>

    <body>
        <h1>Ingresa tus datos:</h1>

        <form action="." method="post">
            {% csrf_token %}
            <!––{{ datos_usuario.as_p }}-->
            <label><input type="text" name="username" placeholder="Usuario..." class="form-control"></label>
            <p></p>
            <input type="password" name="password" placeholder="Contraseña..." class="form-control"></label>
            <p></p>
            <label><input type="checkbox" name="remember_me"  class="form-control"> Mantener mi sesión abierta</label>
            <p></p>
            <div class="g-recaptcha" data-sitekey="6LdwXMMZAAAAAMjBPkLK-UTh7ka1eUZ1ZG5EixsM"></div>
            <p></p>
            <input type="submit" value="Entrar" />
        </form>

        <a class="btn btn-primary" href="/register">¿No tienes cuenta? Regístrate aquí.</a>

        <!--iniciar sesion usando api de google gmail-->
        <a href="{% provider_login_url "google" %}"> O inicia sesion con Google </a> 

        <!--Ciclo que muestra cada mensaje de error/advertencia-->

        <p></p>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <p></p>
    </body>

    <!--reCaptcha API-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}