{% extends 'base_layout.html' %}
{% load static %}
{% block content1 %}

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stars.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    </head>
    
    <body>
        
    <div  class="container-fluid text-center"> <!--id="correccion-container-perfil"-->
        <div class="shadow bg-white col-md-12 mt-3 p-3">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{review.title}}</h1>
                    <hr class="w-75">
                    <h6> Libro reseñado: <a class="links-contenido-2" href="{% url 'book_detail' pk=review.book.pk %}"><i>{{review.book.title}}</i></a> </h6>
                    <h6> Autor: <i>{{review.book.author}}</i></h6>
                    <hr class="w-75">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    por <b>@<a class="links-contenido-1" href="{% url 'show_profile_page' pk=review.author.pk %}">{{review.author}}</a></b>
                </div>
                <div class="col-md-6 text-center">
                    {% if review.date %}
                        <div class="date">
                            {{ review.date }}
                        </div>
                    {% else %}
                        PLACEHOLDER
                    {% endif %}
                </div>
            </div>
            <hr class="w-75">
            <div class="row">
                <div class="col-md-12">
                    {{ review.body|safe }}
                </div>
            </div>

            <!--BOTONES PUBLICAR, EDITAR, ELIMINAR-->
            {% if user_logged == review.author %}
            <hr class="w-75">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        {% if review.date %}
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-block" href="{% url 'edit_review' pk=review.pk %}">Editar</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-danger btn-block" href="{% url 'review_remove' pk=review.pk %}">Eliminar</a>
                            </div>
                        {%else%}
                            <div class="col-md-4">
                                <a class="btn btn-success btn-block" href="{% url 'review_publish' pk=review.pk %}">Publicar</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-primary btn-block" href="{% url 'edit_review' pk=review.pk %}">Editar</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-danger btn-block" href="{% url 'review_remove' pk=review.pk %}">Eliminar</a>
                            </div>
                        {%endif%}
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            {% endif %}
        </div>

        <!--ESTRELLAS-->

        {% if review.date %}      
        <div class="shadow bg-white col-md-12 mt-3 p-3 text-center">
            {%for obj in avg %}
                <strong> Puntuacion media: {{obj.average_stars}} </strong>
                <br>
            {%endfor%}
            {% if user.is_authenticated %}
                {% if not user_logged in rates_usuarios %}
                    {% if user_logged.id is not review.author.id %}
                        <form method="POST" class="rating-stars">
                            {% csrf_token %}
                            <div class="rating"> <!--CENTRAR ESTRELLAS-->
                                <input name="rating" id="e5" type="radio" value='5'></a><label for="e5">★</label>
                                <input name="rating" id="e4" type="radio" value='4'></a><label for="e4">★</label>
                                <input name="rating" id="e3" type="radio" value='3'></a><label for="e3">★</label>
                                <input name="rating" id="e2" type="radio" value='2'></a><label for="e2">★</label>
                                <input name="rating" id="e1" type="radio" value='1'></a><label for="e1">★</label>
                            </div>
                            <button type="submit" class="btn btn-outline-success">Votar</button>
                        </form>
                    {% else %}
                        {% if not avg %}
                            <strong> Tu reseña no ha sido puntuada por otros usuarios todavía. </strong>
                            <br>
                        {% endif %}
                    {%endif%}
                {%endif%}
            {%endif%}
        </div>
        {% endif %}

        <!--CARD DEL AUTOR-->
        <div id="user-card" class="card shadow bg-white border-0 mt-3">
            <div class="row no-gutters">
                <div id="img-wrapper" class="col-md-auto">
                    <!--col-md-3-->
                    {% if review.author.profile.profile_pic %}
                        <img id="img-user" src={{MEDIA_URL}}{{review.author.profile.profile_pic.url}} class="card-img rounded-pill" />
                    {%else%}
                        <img id="img-user" src="https://picsum.photos/200/200" class="card-img rounded-pill" />
                    {% endif %}
                </div>
                <div id="data-user" class="col text-justify">
                    <!--col-md-9-->
                    <div class="card-body">
                        <h2 class="card-title"><b>@<a class="links-contenido-1"
                                    href="{% url 'show_profile_page' pk=review.author.pk %}">{{review.author}}</a></b></h2>
                        <hr align="left">

                        <p class="card-text"><i>{{review.author.profile.bio}}</i></p>
                    </div>
                </div>
            </div>
        </div>

        <!--COMENTARIOS-->
        <div class="shadow bg-white col-md-12 mt-3 p-3">
            <h3>Comentarios</h3>
            <hr class="w-75">

            <!--CAJA DE COMENTARIOS-->
            {% if not review.comments.all %} <!--SI NO HAY COMENTARIOS-->
                Aún no hay comentarios sobre esta reseña. ¡Sé el primero!
                <hr class="w-75">
            {% endif %}

            <form method="POST" class="comment-form">
                {% csrf_token %}
                {{form_c.media}}
                {{form_c.as_p}}
                <button type="submit", name="post_id", value="{{ review.id }}", class="save btn-primary btn-default">Comentar</button>
            </form>

            <!--LISTA DE COMENTARIOS-->
            <hr class="w-75">
            {% if review.comments.all %} <!--SI NO HAY COMENTARIOS-->
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-left p-3">
                        {% for comment in review.comments.all %}
                            <strong> {{ comment.usuario_r }} - {{ comment.date }} </strong>
                            {{ comment.body|safe }} 
                            <hr>
                            <div class="row text-right">
                            {% if comment.usuario_r == request.user %}
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <a href="/libros/comment/{{ comment.id }}/delete/" class="btn btn-outline-secondary btn-sm"
                                    onClick="return confirm('¿Esta seguro que desea eliminar el comentario?');">
                                    <strong>Eliminar comentario</strong>
                                    </a>
                                </div>
                            {% else %}
                                {% if user.is_authenticated %}
                                    {% if not comment in comments_denunciados %}
                                        <div class="col-md-8"></div>
                                        <div class="col-md-4">
                                            <a href="/libros/comment/{{ comment.id }}/denuncia/" class="btn btn-outline-secondary btn-sm"
                                            onClick="return confirm('¿Desea denunciar el comentario?');">
                                            <strong>Denunciar comentario</strong>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}